anyio @ file:///Users/ec2-user/croot/anyio_1773134414870/work
appnope @ file:///Users/ec2-user/buildout/croot/appnope_1759953166014/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067819781/work
argon2-cffi-bindings @ file:///Users/ec2-user/buildout/croot/argon2-cffi-bindings_1761949232702/work
arrow==1.4.0
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135856585/work
async-lru @ file:///Users/ec2-user/croot/async-lru_1783504980854/work
attrs @ file:///Users/ec2-user/croot/attrs_1774959623970/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159323743/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1781173595507/work
bleach @ file:///Users/ec2-user/croot/bleach_1782390508760/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161487/work
certifi @ file:///Users/ec2-user/croot/certifi_1782214917251/work/certifi
cffi @ file:///Users/ec2-user/croot/cffi_1784189422595/work
charset-normalizer @ file:///Users/ec2-user/croot/charset-normalizer_1782917471556/work
comm @ file:///Users/ec2-user/buildout/croot/comm_1763763170912/work
contourpy==1.3.3
cycler==0.12.1
debugpy @ file:///Users/ec2-user/croot/debugpy_1783354545315/work
decorator @ file:///Users/ec2-user/croot/decorator_1781691477721/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///Users/ec2-user/buildout/croot/executing_1761950542723/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718705082/work
fonttools==4.63.0
fqdn==1.5.1
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258926/work
httpcore @ file:///Users/ec2-user/buildout/croot/httpcore_1761937127030/work
httpx @ file:///Users/ec2-user/buildout/croot/httpx_1761937519393/work
idna @ file:///Users/ec2-user/croot/idna_1780561396088/work
ipykernel @ file:///Users/ec2-user/croot/ipykernel_1772612352053/work
ipython @ file:///Users/ec2-user/croot/ipython_1780349166462/work
ipython_pygments_lexers @ file:///Users/ec2-user/buildout/croot/ipython_pygments_lexers_1759952775363/work
ipywidgets==8.1.8
isoduration==20.11.0
jedi @ file:///Users/ec2-user/croot/jedi_1778681758072/work
Jinja2 @ file:///Users/ec2-user/buildout/croot/jinja2_1761936793528/work
joblib==1.5.3
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718541253/work
jsonpointer==3.1.1
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955676205/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788415691/work
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events @ file:///Users/ec2-user/croot/jupyter_events_1778067257248/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773346380/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1781183280286/work
jupyter_core @ file:///Users/ec2-user/buildout/croot/jupyter_core_1765380151887/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1782400776858/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289304537/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1782727244216/work
jupyterlab_pygments @ file:///Users/ec2-user/buildout/croot/jupyterlab_pygments_1759952498240/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629822876/work
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
lark==1.3.1
MarkupSafe @ file:///Users/ec2-user/croot/markupsafe_1782390866030/work
matplotlib==3.11.1
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779167424/work
mistune @ file:///Users/ec2-user/croot/mistune_1783704018076/work
narwhals==2.24.0
nbclient @ file:///Users/ec2-user/croot/nbclient_1782484511586/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1782391041127/work
nbformat @ file:///Users/ec2-user/buildout/croot/nbformat_1759952237112/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
notebook @ file:///Users/ec2-user/croot/notebook_1783948681081/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629838630/work
numpy==2.5.1
packaging==26.2
pandas==3.0.3
pandocfilters @ file:///Users/ec2-user/buildout/croot/pandocfilters_1759952542553/work
parso @ file:///Users/ec2-user/croot/parso_1778674014309/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936044/work
pillow==12.3.0
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975658/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733399866/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744861210/work
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896325336/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///Users/ec2-user/buildout/croot/pure_eval_1759952573602/work
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959675151/work
Pygments @ file:///Users/ec2-user/croot/pygments_1775127041396/work
pyparsing==3.3.2
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010104/work
python-dateutil @ file:///Users/ec2-user/buildout/croot/python-dateutil_1759952060416/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590095606/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492428/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375615819/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885811/work
requests @ file:///Users/ec2-user/croot/requests_1780348908794/work
rfc3339_validator @ file:///opt/miniconda3/conda-bld/rfc3339-validator_1764775593947/work
rfc3986_validator @ file:///Users/ec2-user/buildout/croot/rfc3986-validator_1763762347429/work
rfc3987-syntax==1.1.0
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366481407/work
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170598277/work
setuptools==83.0.0
six @ file:///Users/ec2-user/buildout/croot/six_1759951952559/work
soupsieve @ file:///Users/ec2-user/croot/soupsieve_1783696923195/work
stack_data @ file:///Users/ec2-user/buildout/croot/stack_data_1759953041043/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591696190/work
threadpoolctl==3.6.0
tinycss2 @ file:///opt/miniconda3/conda-bld/tinycss2_1764948935775/work
tornado @ file:///Users/ec2-user/croot/tornado_1782314827525/work
traitlets @ file:///Users/ec2-user/croot/traitlets_1778743192105/work
typing_extensions @ file:///Users/ec2-user/croot/typing_extensions_1784101001441/work
tzdata==2026.3
uri-template==1.3.0
urllib3 @ file:///Users/ec2-user/croot/urllib3_1778536190991/work
uv==0.11.29
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1783583483791/work
webcolors==25.10.0
webencodings @ file:///Users/ec2-user/buildout/croot/webencodings_1761936753283/work
websocket-client @ file:///Users/ec2-user/buildout/croot/websocket-client_1759953104904/work
widgetsnbextension==4.0.15
